<div class="main-container h-screen">

  <!-- navbar -->
  <app-navbar></app-navbar>
  <!-- navbar ends  -->

  <!-- home component starts -->
  <div class="home h-full flex flex-col justify-center items-center">
    <div class="w-11/12 h-1/2 flex items-center">
      <div class="w-1/2">
        <p class="text-[72px] font-bold text-[#FFFDF5] leading-0">Elevate Your Dining Experience</p>
        <p class="text-[24px] text-[#FFFDF5] font-light pt-[30px]">Welcome to EzOrder, where dining meets innovation. Order at your fingertips, enjoy your meal hassle-free. Elevate your experience with us!</p>
        <div class="pt-[50px]">
          <button class="text-white bg-[#D3AE2C] px-6 rounded-[40px] py-4">Jump to menu</button>
        </div>
      </div>

      <div class="w-1/2">
        <img src="/assets/images/pizza.svg" alt="">
      </div>
    </div>
  </div>
  <!-- home component ends  -->
</div>
