<div class="main-container w-full">

  <div class="navbar w-full flex">

    <div class="main w-1/2 flex">

      <div class="logo w-1/3">
        <img src="/assets/icons/logo.svg" alt="" class="w-[149px] h-[72px]">
      </div>

      <div class="w-2/3">
        <div href="">Home</div>
        <div href="">How we Work ?</div>
        <div href="">About</div>
      </div>

    </div>


    <div class="sub w-1/2 flex">
      <img src="/assets/icons/favorite.svg" alt="">
      <img src="/assets/icons/shop.svg" alt="">
      <img src="/assets/icons/admin.svg" alt="">
    </div>

  </div>

</div>
